<div class="">
  <div class="">
    <h1>Khan Academy Infection Problem</h1>

    <p>
    Order of operations:
    </p>
    <ul>
      <li>Choose a User</li>
      <li>run through all their classes - attended and taught</li>
      <li>....</li>
      <li>add original user to a checked student set</li>
      <li>take the list of associated users and</li>
      <li>check if the user is already checked: if not run and add, if yes, skip</li>
      <li>Run means to run through classes - attended and taught - and find those associated students</li>

    </ul>

    <p>
      This is going to be an array, first being the total student infection number, second being the infected classes, third being the infected students
    </p>
  </div>

  <div class="">
    <div class="input-group form" style="width: 33.333333%; float:left;">
      <%= render 'layouts/new_user' %>
    </div>
    <div class="input-group form" style="width: 33.333333%; float:left;">
      <%= render 'layouts/new_class' %>
    </div>
    <div class="input-group form" style="width: 33.333333%; float:left;">
      <%= render 'layouts/new_enrollments' %>
    </div>
  </div>

  <br><br><br><br><br><br><br><br><br><br><br><br>

  <div class="grey-background-zone">
    <!--MAKE THIS THE FOCUS  -->
    <div class="">
      <form class="" action="<%= change_amount_static_pages_url %>" method="post">
        <input
            type="hidden"
            name="authenticity_token"
            value="<%= form_authenticity_token %>">
        <label for="">Desired Infection Number</label>
        <input type="hidden" name="limited_infection[id]" value=1>
        <input type="text" name="limited_infection[val]" id="user_name" placeholder="<%= @infect_amount %>">
        <input type="submit" name="name" value="Check Possible Limit">
      </form>
    </div>

    <br><br><br>

    <div id="limited_infection_result">
    <% value = @infect_amount %>

    <% limited_result = limited_infection(value) %>
    <% if (limited_result.is_a?(String)) %>
      <span><%= limited_result %></span>
    <% else %>

      <% limited_result.each do |limited_person| %>
      <table class="table">
        <tr>
          <th>
            Root Student Name
          </th>
          <th>
            Infection Number
          </th>
          <th>
            Classes they Infect
          </th>
          <th>
            Students they Infect
          </th>
        </tr>
        <tr>
          <td>
            <%= limited_person[4].name %>
          </td>

            <td>
              <%= limited_person[0] %>
            </td>
            <td>
              <% limited_person[1].each do |limited_course| %>
                <%= limited_course.course_name %>
                <% end %>
            </td>
            <td>
              <% limited_person[2].each do |limited_student| %>
                <%= limited_student.name %>
                <% end %>
            </td>
          </tr>

      </table>
      <% end %>
    <% end %>
  </div>

  </div>

  <!-- New User Form -->
<br><br><br><br>
<!-- List of Users and their infection stats -->
  <div class="grey-background-zone">
    <h1>List of Students</h1>
    <table class="table">
      <tr>
        <th>
          Name
        </th>
        <th>
          Infection Number
        </th>
        <th>
          Classes they Infect
        </th>
        <th>
          Students they Infect
        </th>
      </tr>


    <% @users.each do |student| %>
      <% student_result = student.total_infection %>
        <tr>
          <td>
            <%= student.name %>
          </td>
          <td>
            <%= student_result[0] %>
          </td>
          <td>

            <% string = "" %>
            <% student_result[1].each do |result_class| %>
            <% string += " #{result_class.course_name}" %>
            <% end %>
            <%= string %>
          </td>
          <td>
            <% string = "" %>
            <% student_result[2].each do |result_student| %>
            <% string += " #{result_student.name}" %>
            <% end %>
            <%= string %>
          </td>
        </tr>
    <% end %>
    </table>
  </div>

  <!-- Block FOcused on Classes -->
  <div class="overall-course-zone">
    <h1>
      Classes
    </h1>
    <% @courses.each do |course| %>
    <div class="course-zone">
      <h2>Course Name</h2>
          <p>
            <%= course.course_name %>
          </p>
          <h3>Teacher</h3>
          <p>
            <%= course.teacher.name %>
          </p>
          <h3>Students</h3>
          <% course.students.each do |student| %>
          <p>
            <%= student.name %>
          </p>
          <% end %>
        </div>
    <% end %>
  </div>

</div>
