<div class="" style="padding:10px;">
  <div class="">
    <h1>Khan Academy Infection Problem</h1>

    <p>
    Welcome to the Khan Academy A/B Testing Suite.  Here you can do the following:
    </p>
    <ul>
      <li>See a list of all active Users and Classes</li>
      <li>See what version of the software each User is running</li>
      <li>Add Classes and Users, and Enroll Users in Classes</li>
      <li>See what the effect will be of changing a User's Version</li>
      <li>See what User to change, in order to have X number of students using a specific version</li>
    </ul>
<br><br>
    <p>
      The total_infection method is written on the User class, allowing it to be called on any user, and determine how many users they will infect.
    </p>
    <p>
      The limited_infection method is written on the StaticPagesHelper page.  It runs through all the Users, and saves those who meet the magic Infection number.
    </p>
    <p>
      The raw code for this project can be found <a href="https://github.com/billCaplan/infection-project" target="_">here</a>.
    </p>
  </div>

<br>
  <div class="">
    <div class="input-group form" style="width: 25%; float:left;">
      <%= render 'layouts/new_user' %>
    </div>
    <div class="input-group form" style="width: 25%; float:left;">
      <%= render 'layouts/new_class' %>
    </div>
    <div class="input-group form" style="width: 25%; float:left;">
      <%= render 'layouts/new_enrollments' %>
    </div>
    <div class="input-group form" style="width: 25%; float:left;">
      <%= render 'layouts/edit_version' %>
    </div>
  </div>

  <br><br><br><br><br><br><br><br><br><br><br><br>
<h1>Limited Infection Test</h1>
  <div class="grey-background-zone">
    <!--MAKE THIS THE FOCUS  -->
    <div class="">
      <form class="" action="<%= change_amount_static_pages_url %>" method="post">
        <input
            type="hidden"
            name="authenticity_token"
            value="<%= form_authenticity_token %>">
        <label for="">Desired Infection Number</label>
        <input type="hidden" name="limited_infection[id]" value=1>
        <input type="text" name="limited_infection[val]" id="user_name" placeholder="<%= @infect_amount %>">
        <input type="submit" name="name" value="Check Possible Limit">
      </form>
    </div>

    <br><br><br>

    <div id="limited_infection_result">
    <% value = @infect_amount %>

    <% limited_result = limited_infection(value) %>
    <% if (limited_result.is_a?(String)) %>
      <span><%= limited_result %></span>
    <% else %>

      <% limited_result.each do |limited_person| %>
      <table class="table">
        <tr>
          <th>
            Infection Number

          </th>

          <th>
            Infected Classes
          </th>
          <th>
            Students in Infection Map
          </th>
        </tr>
        <tr>
          <td>
            <%= limited_person[0] %>

          </td>


            <td>

              <% string = [] %>
              <% limited_person[1].each do |limited_course| %>
              <% string.push("#{limited_course.course_name}") %>
              <% end %>
              <%= string.join(", ") %>

            </td>
            <td>
              <ul>

              <% limited_person[2].each do |limited_student| %>
                <li><%= limited_student.name %></li>
              <% end %>
          
              </ul>
            </td>
          </tr>

      </table>
      <% end %>
    <% end %>
  </div>

  </div>

  <!-- New User Form -->
<br><br><br><br>
<!-- List of Users and their infection stats -->
  <div class="grey-background-zone">
    <h1>List of Students</h1>
    <table class="table">
      <tr>
        <th>
          Name
        </th>
        <th>
          Version
        </th>
        <th>
          Infection Number
        </th>
        <th>
          Classes they Infect
        </th>
        <th>
          Students they Infect
        </th>
      </tr>


    <% @users.each do |student| %>
      <% student_result = student.total_infection %>
        <tr>
          <td>
            <%= student.name %>
          </td>
          <td>
            <%= student.version %>
          </td>
          <td>
            <%= student_result[0] %>
          </td>
          <td>

            <% string = [] %>
            <% student_result[1].each do |result_class| %>
            <% string.push("#{result_class.course_name}") %>
            <% end %>
            <%= string.join(", ") %>
          </td>
          <td>
            <% string = [] %>
            <% student_result[2].each do |result_student| %>
            <% string.push("#{result_student.name}") %>
            <% end %>
            <%= string.join(", ") %>
          </td>
        </tr>
    <% end %>
    </table>
  </div>

  <!-- Block FOcused on Classes -->
  <div class="overall-course-zone">
    <h1>
      Classes
    </h1>
    <% @courses.each do |course| %>
      <div class="panel panel-default course-zone">
        <!-- Default panel contents -->
        <div class="panel-heading"><%= course.course_name %></div>
        <div class="panel-body">
          <h3>Teacher</h3>
          <p class="teacher-name-area">
            <%= course.teacher.name %>
          </p>
        </div>
        <div class="panel-body">
          <h3>Students</h3>
        </div>

        <!-- List group -->
        <ul class="list-group">
          <% course.students.each do |student| %>
            <li class="list-group-item">
                  <span><%= student.name %></span>
                  <%= button_to "Withdraw", {:controller => :enrollments,
      :action => 'destroy', :student_id => student.id, :course_id => course.id, :id => 1 }, :method => :delete %>
  </li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>

  </div>

</div>
