<h2>Enrollment form!</h2>
<form action="/enrollments" method="post">
  <input
      type="hidden"
      name="authenticity_token"
      value="<%= form_authenticity_token %>">

    <label for="enrollment_student_id">Coat color</label>

    <select name="enrollment[student_id]">
      <% @users.each do |user| %>
          <option value="<%= user.id %>"><%= user.name %></option>
      <% end %>
    </select>
    <br>


  <label for="enrollment_course_id">Coat color</label>

  <select name="enrollment[course_id]">
    <% @courses.each do |course| %>
        <option value="<%= course.id %>"><%= course.course_name %></option>
    <% end %>
  </select>
  <br>




  <input type="submit" value="Build my enrollments!">

</form>
