<h2>Enroll a Student in a Class</h2>
<form action="/enrollments" method="post">
  <input
      type="hidden"
      name="authenticity_token"
      value="<%= form_authenticity_token %>">

    <label for="enrollment_student_id">Student to Enroll</label>

    <select name="enrollment[student_id]">
      <% @users.each do |user| %>
          <option value="<%= user.id %>"><%= user.name %></option>
      <% end %>
    </select>
    <br>


  <label for="enrollment_course_id">Class to Enroll in</label>

  <select name="enrollment[course_id]">
    <% @courses.each do |course| %>
        <option value="<%= course.id %>"><%= course.course_name %></option>
    <% end %>
  </select>
  <br>

  <label for="enrollment_version">Version to give all associated students</label>
  <select name="enrollment[version]">
    <% versions = [] %>
    <% @users.each do |user| %>
        <% versions.push(user.version) unless user.version.nil? %>
    <% end %>
    <% versions = versions.uniq %>
      <% versions.each do |version| %>
          <option value="<%= version %>"><%= version %></option>
      <% end %>
  </select>
  <br>





  <input type="submit" value="Enroll this student!">

</form>
